<div class="mt-20 mb-20">
  <mat-card class="example-card m-auto" appearance="outlined">
    <mat-toolbar class="justify-center toolbar" color="primary">
      <span>Login</span>
    </mat-toolbar>
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <app-form [formName]="formName" [url]="url" [messageSuccess]="messageSuccess" [messageError]="messageError" [btnColor]="btnColor" [navigate]="navigate"></app-form>
    </mat-card-content>
    <a routerLink="/auth" class="mr-5 hover:underline cursor-pointer mt-5 flex justify-end mb-3" >Forgot password?</a>
    <mat-divider></mat-divider>
    <span class="ms-5 text-center my-5">Not a member? <a routerLink="/auth/register" class="hover:underline cursor-pointer text-red-500 ">Creat Account</a></span>
  </mat-card>
</div>